/* DEV logo */
.logo {
  width: 100px;
  margin: 0;
}

/* style for the chat container */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  background-color: #f5f5f5;
}

/* style for the chat conversation history container */
.messages-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

/* style for the chat messages */
.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

/* style for the input container */
.entry {
  display: flex;
  align-items: center;
  margin-top: auto;
}

/* style for the input field */
.entry-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

/* Style for the send button */
.send-button {
  background-color: #357def;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
